! Molokai theme
*background: #101010
*foreground: #d0d0d0
*cursorColor: #8000BA
*color0: #101010
*color1: #960050
*color2: #66aa11
*color3: #c47f2c
*color4: #30309b
*color5: #7e40a5
*color6: #89b6e2
*color7: #9999aa
*color8: #303030
*color9: #ff0090
*color10: #80ff00
*color11: #ffba68
*color12: #5f5fee
*color13: #bb88dd
*color14: #4eb4fa
*color15: #d0d0d0

!urxvt font
!URxvt*font: xft:Inconsolata for Powerline:pixelsize=14:antialiasing=true
!URxvt*font: xft:EnvyCodeR:pixelsize=12:antialiasing=true
!URxvt*font: xft:Sauce Code Powerline:pixelsize=11:antialiasing=true
URxvt*font: xft:monofur for Powerline:pixelsize=14
!URxvt*font: xft:Hermit:pixelsize=11

!urxvt looks
URxvt*scrollBar: false
URxvt*scrollKey: true
URxvt*cursorBlink: true
URxvt*saveLines: 5000
URxvt*geometry: 130x27

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!URxvt*fading: 40 *fadeColor: #333333
Xcursor.size: 16

URxvt.iconFile: /usr/share/icons/Flattr/apps/64/terminal.svg

!URxvt perl extensions
URxvt.perl-ext-common: default,matcher,url-select
URxvt.matcher.button: 1
URxvt.url-select.launcher: firefox
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.underlineURLs: true
